* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
}

body {
  background-color: rgb(229, 240, 239);
}

/* home */
#home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}

h1 {
  font-family: "Bowlby One SC", sans-serif;
  color: rgb(28, 73, 26);
  font-weight: 600;
  font-size: 3.8rem;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.699);
}

#home-h2 {
  margin-bottom: 1rem;
}

#home-p,
#home-login-btn,
#home-create-btn {
  margin-bottom: 1.5rem;
}

.btn {
  color: rgb(28, 73, 26);
  border: 2px solid rgb(28, 73, 26);
  background-color: white;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 25px;
  width: 200px;
  height: 45px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.btn:hover {
  color: white;
  border: 2px solid white;
  background-color: rgb(28, 73, 26);
}

.btn:active {
  transform: scale(0.95);
}

/* login */
#login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#login-p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

#login-form {
  width: 280px;
}

.input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.label {
  align-self: center;
}

.input {
  height: 30px;
  width: 190px;
  border-radius: 6px;
  padding: 2px 4px;
}

#login-error {
  color: rgb(224, 22, 22);
  font-size: 0.9rem;
  text-align: center;
}

#submit-btn-login {
  margin: 1.5rem auto;
  display: block;
}

.back {
  align-self: flex-start;
}

/* create_account */
#create-acc-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#create-acc-form {
  width: 330px;
}

#create-acc-p {
  text-align: center;
  margin-bottom: 1.5rem;
}

#password-error {
  color: rgb(224, 22, 22);
  font-size: 0.9rem;
  text-align: center;
}

#submit-btn-create {
  margin: 1.5rem auto;
  display: block;
}

/* search */
#search-box {
  margin: 5px;
  display: flex;
  justify-content: center;
}

#search-input {
  width: 80%;
  max-width: 400px;
  height: 30px;
  border-radius: 6px;
  margin-right: 6px;
}

#search-btn {
  color: rgb(28, 73, 26);
  border: 2px solid rgb(28, 73, 26);
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 13px;
  width: 80px;
  height: 36px;
  margin-right: 6px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

#search-btn:hover {
  color: white;
  border: 2px solid white;
  background-color: rgb(28, 73, 26);
}

#search-btn:active {
  transform: scale(0.95);
}

#search-type {
  border-radius: 10px;
  background-color: white;
}

/* search_results */
#result-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

#profile-link {
  margin-right: 6px;
}

/* profile */
#profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-pic-img {
  border-radius: 30px;
  border: 5px outset grey;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
}

.btn2 {
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 5px;
}

.btn2:hover:enabled {
  background-color: rgba(200, 200, 200, 0.733);
}

#profile-name {
  font-size: 2.3rem;
}

#profile-email {
  margin-bottom: 0.5rem;
}

#profile-img-details-box {
  margin-bottom: 0.5rem;
}

#profile-details-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
}

#profile-age-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

/* posts */
#new-post-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

#post-input {
  max-width: 600px;
  width: 52%;
  margin-right: 4px;
}

#post-btn {
  color: rgb(28, 73, 26);
  border: 2px solid rgb(28, 73, 26);
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 20px;
  width: 70px;
  height: 38px;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

#post-btn:hover {
  color: white;
  border: 2px solid white;
  background-color: rgb(28, 73, 26);
}

#post-btn:active {
  transform: scale(0.95);
}

#posts-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.post {
  display: flex;
  background-color: white;
  border: 2px solid rgb(28, 73, 26);
  border-radius: 10px;
  margin-top: 0.7em;
  box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.336);
  width: 88%;
  max-width: 800px;
  min-height: 25px;
  padding: 8px;
}

.post p {
  align-self: center;
  margin: 0 auto;
}

.fa-xmark {
  align-self: center;
  margin-left: 2px;
}

.fa-xmark:hover {
  cursor: pointer;
}

/* edit_profile */
#edit-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 10%;
}

#edit-profile-form {
  max-width: 380px;
}

#edit-profile-form p {
  text-align: center;
  margin-bottom: 2rem;
}

.textarea {
  resize: none;
  border-radius: 6px;
  margin-bottom: 6px;
  width: 360px;
  height: 115px;
}

#save-edit-btn {
  display: block;
}

/* upload_profile_pic */
#upload-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5% 10%;
}

#upload-header {
  margin-bottom: 1rem;
}

#profile-pic {
  margin-bottom: 2rem;
}

#upload-profile-pic-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

#upload-profile-pic-btn {
  align-self: center;
}

/* allies */
#allies-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.list-box {
  margin-bottom: 1rem;
}

/* user_groups */
#groups-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* user_events */
#events-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* create_group */
#create-grp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#create-grp-form {
  max-width: 380px;
}

#create-grp-form p {
  margin-bottom: 2rem;
  text-align: center;
}

#gname-create-box {
  margin-bottom: 1rem;
}

/* groups */
#group-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#ndb-box {
  align-self: flex-start;
  padding: 0 2rem;
  max-width: 800px;
}

#group-name,
#group-description {
  margin-bottom: 1rem;
}

#group-me-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

/* members */
#group-members-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* group_events */
#group-events-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* create_event */
#create-evnt-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#create-evnt-form {
  max-width: 380px;
}

#create-evnt-form p {
  text-align: center;
  margin-bottom: 2rem;
}

/* events */
#event-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

#ndldb-box {
  align-self: flex-start;
  padding: 0 2rem;
  max-width: 800px;
}

#event-ga-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

#event-name,
#event-description,
#event-location,
#event-date {
  margin-bottom: 1rem;
}

/* event_attendees */
#event-attendees-box {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

@media (min-width: 610px) {
  /* search */
  #search-box {
    justify-content: flex-start;
  }

  #result-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* profile */
  #profile-img-details-box {
    display: flex;
  }

  #img-box {
    margin-right: 12px;
  }

  /* upload_profile_pic */
  #upload-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* allies */
  #allies-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* user_groups */
  #groups-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* user_events */
  #events-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* groups */
  #ndb-box {
    align-self: center;
  }

  /* members */
  #group-members-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* group_events */
  #group-events-box {
    width: fit-content;
    margin: 5% auto;
  }

  /* events */
  #ndldb-box {
    align-self: center;
  }
}
